{
	"code": "Language code e.g. en-GB",
	"name": "Language name e.g. English",
	"translations": {
		"Download PDF": "Your translation here!",
		"Download Project Materials": "Your translation here!",
		"Extras": "Your translation here!",
		"Languages": "Your translation here!",
		"Notes for Club Leader": "Your translation here!",
		"Notes": "Your translation here!",
		"Projects": "Your translation here!",
		"resources": "Your translation here!",
		"Scratch Cards for this lesson": "Your translation here!",
		"Student Project": "Your translation here!",
		"Terms": "Your translation here!",
		"Activity Checklist": "Your translation here!",
		"Follow these <span class=\"check_text upper\">instructions</span> one by one": "Your translation here!",
		"Test your Project": "Your translation here!",
		"Click on the green flag to <span class=\"flag_text upper\">test</span> your code": "Your translation here!",
		"Save your Project": "Your translation here!",
		"Make sure to <span class=\"save_text upper\">save</span> your work now": "Your translation here!",
		"Terms &amp; Resources": "Your translation here!"
	},
	"legal": {},
	"links": {},
	"resources": {}
}
