html {
	background: #fff;
	border:     none;
}

body {
	font-size: 90%;
	margin: 0px 60px;
	padding-top: 27px;
}

a {
	color: $color-base !important;
}

code, kbd, pre, samp {
	font-family: monospace;
}
