.save {
    @extend %unbreakable;

    position: relative;
    width: 100%;

    h2 {
        background-color: $color-print-save;
        font-family:      $font-family-secondary;
        font-size:        16px;
        margin:           0 0 0 10px;
        padding:          5px 0 5px 40px;
        text-align:       inherit;
        text-transform:   inherit;

        &:before {
            content:         ' ';
            position:        absolute;
            top:             -5px;
            left:            0;
            width:           44px;
            height:          44px;
            background:      url("../img/save.png") no-repeat;
            background-size: 40px auto;
            border:          2px #fff solid;
            border-radius:   50%;
        }
    }
}
