.header {
    background-color: $color-highlight-light;
    margin-bottom:    35px;
    height:           110px;
    line-height:      110px;

    h1 {
        display:          inline-block;
        background-color: transparent;
        font-family:      VAGbold, sans-serif;
        font-size:        38px;
        width:            270px;
        margin-left:      146px;
        text-align:       left;
        vertical-align:   middle;
    }

    //	Big level number at the start
    .level-number {
        font-family: VAGbold, sans-serif;
        font-size:   80px;
        line-height: 70px;
    }
}
