#legend {
	display:          block;
	font-family:      $font-family-secondary;
	background-color: #d7d7d7;
	border-radius:    10px;
	//	very lazy. intro adds margins; this undoes them.
	margin:           0 -20px;

	table { margin: 10px; }

	td { padding: 5px; }

	img {
		width:  30px;
		margin: 0;
	}

	.check_text { color: #f5a200; }

	.flag_text { color: #349946; }

	.save_text { color: #3477d1; }

	.upper { text-transform: uppercase; }
}
