.lesson-steps {

	img {
        //	Remove orange border from images
		border: none;
        //	Remove some of the excess whitespace
   		margin:	0 auto;
	}

	ul > li:before {
		//	Remove background from all checkboxes
		background:   inherit;
		top:          0.1em;
		height:       1.2em;
		width:        1.2em;
	}

	section {
		//	webkit doesn't recognise page-break-inside
		/* page-break-inside: avoid; */

		&.intro {
			margin-left:      20px;
			margin-right:     20px;
			page-break-after: always;
			//	Remove orange dotted line from end of intro
			border-bottom:    none;

			img {
				//	Set max size on screenshot image
				max-width:      440px;
				max-height:     350px;
			}
		}
	}

    //  attempt to avoid blank last pages
	> section:last-child {
		margin-bottom: 0;

		> section:last-child {
			margin-bottom: 0;

			> :last-child {
				margin-bottom: 0;
			}
		}
	}
}
