.level-indicator {
	background-color: $color-primary-light;
	border-radius:    15px;
	display:          inline-block;
	font-size:        22px;
	height:           130px;
	left:             18px;
	padding:          15px;
	text-align:       center;
	top:              -10px;
	width:            106px;
}
