section  h1{
    border-radius: 4px 4px 4px 4px;
    background: ${header_bg_dark};
    padding: 8px;
    margin-left: 0px;
    margin-top: 0px;
    color: #fff; 
}

section h2{
    border-radius: 4px 4px 4px 4px;
    margin: 15px;
    padding: 8px;
    margin-left: 0px;
    margin-top: 0px;
    border: 1px dotted ${header_bg_dark};
    border-radius: 5px;
}
section h2{
    border-radius: 4px 4px 4px 4px;
    margin: 15px;
    padding: 8px;
    margin-left: 0px;
    margin-top: 0px;
    border: 1px dotted ${header_bg_light};
    border-radius: 5px;
}

ol {
    font-size: large;
}

ol.terms, ol.langs, ol.projectlist, ol.extralist {
    padding-left: 0px;
}
ol.terms, ol.projectlist {
    list-style-position:inside;
}
ol.langs, ol.extralist, ul.projectfiles {
    list-style-type: none;
}
li.term, li.lang, li.project, li.extranote, li.extramaterial {
    background-color: rgb(230, 233, 227);
    border-radius: 5px;
    margin: 15px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 8px;
}

li.term, li.lang {
    color: ${header_bg_dark};
}

li.term a, li.lang a, ul.projectfiles a, ol.extralist a {
    color: ${header_bg_dark};
}
li.term a, li.lang a {
    text-decoration: none;
}

ul.projectfiles {
    margin-top: 8px;
    font-size: medium;
}

li.project div.level {
   float:right;
   font-size: medium;
   color: rgb(102, 102, 102);
}
   
