.intro h1, .intro h2 {
    font-size: 22px;
    margin-top:40px;
    border: none;
    background: none;
    color: #000;
}

.intro p {
    font-size: 16px;
}
.intro img {
    border: 5px solid rgb(230,134,45);
    padding: 5px;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.intro ul {
    background-color: rgb(220,220,220);
    border-radius: 10px;
    list-style: none;
    font-size: 16px;
    padding: 10px;
    margin-top: 30px;
    padding-top: 10px;
}
.intro li.activity {
    background-image: url(/img/check.svg);
    background-size: 40px 40px;
    background-repeat: no-repeat;
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 50px;
}
.intro li.test {
    background-image: url(/img/flag.svg);
    background-repeat: no-repeat;
    background-size: 40px 40px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-indent: 50px;
}

.intro li.save {
    background-image: url(/img/save.svg);
    background-repeat: no-repeat;
    background-size: 40px 40px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-indent: 50px;
}
.intro li.activity strong {
    color: rgb(230,134,45);
    text-transform: capitalize;
}
.intro li.save strong {
    color: rgb(36,90,154);
    text-transform: capitalize;        
}
.intro li.test strong {
    color: rgb(54,161,55);
    text-transform: capitalize;        
}
.activity header div{
    color: #FFF;
    font-size: 25px;
    background-color: rgb(51,150,55);
    text-align: center;
    width: 60px;
    padding: 5px;
    border-radius: 10px;
    float: left;
    margin-left: 30px;
    margin-top: -20px;
    margin-right: 15px;
}
.activity header h1 {
    background: #ABDBEA;
    padding: 8px;
    text-align: left;
    margin-left: 0px;
    margin-top: 0px;
    font-size: 20px;
    color: #000;        
}
.activity h1 {
    font-size: 30px;
    color: #FFF;
    background: ${header_bg_dark};
    margin-top: 30px;
    padding: 10px 10px;
    border-radius: 5px;
}
.activity h1 strong{
    color: #ABDBEA;
}
.check h2{
    color: rgb(230,134,45);
    background-image: url(/img/check.svg);
    line-height:40px;
    background-size: 40px 40px;
    background-repeat: no-repeat;
    margin-bottom: 15px;
    padding-bottom: 5px;
    padding-left: 50px;
    font-size: 20px;
    float: left;
    width: 100%;
}
.flag h2 {
    color: rgb(54,161,55);
    background-image: url(/img/flag.svg);
    background-position: 0px 10px;
    background-size: 40px 40px;
    background-repeat: no-repeat;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-bottom: 10px;
    padding-top: 15px;
    text-indent: 50px;
    font-size: 20px;
    float: left;
    width: 100%;
    border-top: 3px dotted rgb(230,134,45);
}
.save h2 {
    color: rgb(36,90,154);
    background-image: url(/img/save.svg);
    background-position: 0px 10px;
    background-size: 40px 40px;
    background-repeat: no-repeat;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-bottom: 10px;
    padding-top: 15px;
    text-indent: 50px;
    font-size: 20px;
    float: left;
    width: 100%;
    border-top: 3px solid rgb(36,90,154);        
}
.try {
    background: #ABDBEA;
    border-radius: 10px;
    width: 620px;
    list-style: none;
    padding:20px;
    margin: 0 auto;
    margin-top:20px;
    overflow:auto;
}
.try h2 {
    margin-top:0;
}
.try code {
	background:#fff;
	color: #007CC9;
}
.activity .try li:before {
    border-color:#00b1da;
    background:#fff;
}
.challenge {
    border: 3px solid #00b1da;
    border-radius:12px;
    width:654px;
    margin: 0 auto;
    padding-bottom:20px;
    overflow:auto;
}
.challenge h2 {
    color:#fff;
    background: #00b1da;
    text-indent:20px;
    border-radius: 0;
    margin-top:0;
    line-height:45px;
}
.challenge p {
    padding:0 20px;
}
.activity p {        
    clear:both;
}
.activity ul p {
    clear:none;
    margin-top:0;
    padding-top:0;
}
/*.activity img {
    float: right;
    margin-right: 100px;
    margin-left: 500px;
    padding: 5px;
    border: 5px solid rgb(230,134,45);
}*/
.activity li {
    font-size: 16px;        
    line-height:24px;
    width:100%;
    /*list-style-type: none;*/
}
.check li, .challenge li, .try li {
    float:left;
    list-style-position: outside;
}
.check li:before, .try li:before, .challenge li:before {
    content: " ";
    border-radius: 8px;
    border: 3px solid #ABDBEA;
    padding: 10px 12px;
    margin-right:20px;
    float:left;
}
.check li p {
    margin:0;
    clear:none;
}
.check li {
    margin-left:25px;
    width:90%;
}
.check ul, .try ul, .challenge ul {
    list-style-type:none;
    line-height:24px;
}
.try ul {
    margin-left:0;
    padding-left:0;
}
.challenge ul {
    padding-left:20px;
}
.check li:before {
    margin-left:-60px;
}
.protip {
    border: 3px solid #ff7f00;
    background: #fff99d;
    border-radius:12px;
    width:614px;
    overflow:auto;
    padding:0 20px 20px 20px;
}
.protip li:before {
    content:none;
    margin:0;
}
.check .protip li{
    margin-left:0;
    width:100%;
}
.check .protip ul {
    padding-left:0;
}

 /* things to be cleared */
 .challenge ul:after, ol:after, ul:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
 }
 /* print styles */
 .activity {
    page-break-inside:avoid;
 }
.try, .challenge, .protip {
    page-break-inside:avoid;
}
 .check, .try, .challenge {
    page-break-before: auto;
}
.challenge, .try, .check, .protip {
    page-break-after:auto;
}
.check {
    page-break-inside:avoid;
}

