* {
    margin: 0px padding: 0px;
    font: Arial, Helvetica, sans-serif;
/*  -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;  
    box-sizing: border-box;  */  
}
@font-face {
  font-family: 'PTSans';
  src: url('../fonts/PTSansRegular.eot');
  src: url('../fonts/PTSansRegular.eot?#iefix') format('abedded-opentype'),
       url('../fonts/PTSansRegular.woff') format('woff'),
       url('../fonts/PTSansRegular.ttf') format('truetype'),
       url('../fonts/PTSansRegular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PTSans';
  src: url('../fonts/PTSansItalic.eot');
  src: url('../fonts/PTSansItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/PTSansItalic.woff') format('woff'),
       url('../fonts/PTSansItalic.ttf') format('truetype'),
       url('../fonts/PTSansItalic.svg') format('svg');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'PTSans';
  src: url('../fonts/PTSansBold.eot');
  src: url('../fonts/PTSansBold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/PTSansBold.woff') format('woff'),
       url('../fonts/PTSansBold.ttf') format('truetype'),
       url('../fonts/PTSansBold.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'PTSans';
  src: url('../fonts/PTSansBoldItalic.eot');
  src: url('../fonts/PTSansBoldItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/PTSansBoldItalic.woff') format('woff'),
       url('../fonts/PTSansBoldItalic.ttf') format('truetype'),
       url('../fonts/PTSansBoldItalic.svg') format('svg');
  font-weight: bold;
  font-style: italic;
}

html {
    font-family: PTSans, Arial, sans-serif;
    text-align: center;
    background: #FFF;
}

body {
    max-width: 800px;
    margin: 15px auto;
    background: #FFFFFF;
    text-align: left;
    padding: 20px;
    font-size: 16px;
    margin: 20px auto;
    clear:both;
}
h1, h2 {
    font-size: 25px;
    line-height: 22px;
}
h3, h4 {
	font-size:20px;
}

section, header {
    width:100%;
    margin: 15px auto;
    clear: both;
}
header {
    color: ${header_bg_dark};
    height:100px;
    display: table-row;
}
header div { 
    vertical-align: middle;
    display: table-cell;
}
header .level, header .title {
    font-size: 30px;
    padding: 8px;
    margin-top:20px;
    line-height:60px;
    font-weight: bold;
}

header .level {
    background: ${header_bg_dark};
    color: white;
    border-radius: 4px 4px 4px 4px;
    white-space: nowrap;
}
header .title {
    text-indent:20px;    
    width: 100%;
}
header .logo img {
	height: 100px;
  	border: 0;
}


p code {
    border-radius: 4px 4px 4px 4px;
    background:#B9E5FA;
    padding:2px 5px;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    hyphens: none;
    white-space: pre-wrap; /* css-3 */
	white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
}
	
pre {
    font-size:16px;
    font-family: "Source Code Pro",Courier,monospace;
    font-weight: 400;
    line-height: 1.5;
    clear:both;
    background:#eee;
    padding: 20px;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    hyphens: none;
}

.legal div {
    clear: both;
    font-size:16px;
    border: 1px dotted ${header_bg_dark};
    border-radius: 5px;
    padding:8px;
    font-size: small;
}

h1, h2,h3 {
    page-break-before: auto;
    page-break-after:avoid;
}
ul, ol, pre, p {
    page-break-inside:avoid;
}


section.breadcrumb {
   padding-top: 0px;
   padding-bottom: 0px;
}

section.breadcrumb ol {
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: small;
}
section.breadcrumb li {
    display: inline-block;
    padding-right: 8px;
}
section.breadcrumb li:after {
    content: " >";
}

section.breadcrumb li:last-child:after {
    content: "";
}

section.breadcrumb a {
    color: ${header_bg_dark};
    text-decoration: none;
}

@media print {
  * {
    -webkit-print-color-adjust: exact;
  }

  ol.breadcrumb, #legal {
    display: none;
  }

  .check {
    page-break-inside:avoid;
  }

  body .activity:last-child {
    page-break-after: avoid !important;
  }

  .protip {
    page-break-before: avoid;
  }
  h1, h2, h3 {
    page-break-after:avoid;
  }
  code {
    page-break-inside:avoid;
  }
}
