* {
    margin: 0px padding: 0px;
    font: Arial, Helvetica, sans-serif;
/*  -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;  
    box-sizing: border-box;  */  
}
@font-face {
  font-family: 'PTSans';
  src: url('../fonts/PTSansRegular.eot');
  src: url('../fonts/PTSansRegular.eot?#iefix') format('abedded-opentype'),
       url('../fonts/PTSansRegular.woff') format('woff'),
       url('../fonts/PTSansRegular.ttf') format('truetype'),
       url('../fonts/PTSansRegular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PTSans';
  src: url('../fonts/PTSansItalic.eot');
  src: url('../fonts/PTSansItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/PTSansItalic.woff') format('woff'),
       url('../fonts/PTSansItalic.ttf') format('truetype'),
       url('../fonts/PTSansItalic.svg') format('svg');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'PTSans';
  src: url('../fonts/PTSansBold.eot');
  src: url('../fonts/PTSansBold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/PTSansBold.woff') format('woff'),
       url('../fonts/PTSansBold.ttf') format('truetype'),
       url('../fonts/PTSansBold.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'PTSans';
  src: url('../fonts/PTSansBoldItalic.eot');
  src: url('../fonts/PTSansBoldItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/PTSansBoldItalic.woff') format('woff'),
       url('../fonts/PTSansBoldItalic.ttf') format('truetype'),
       url('../fonts/PTSansBoldItalic.svg') format('svg');
  font-weight: bold;
  font-style: italic;
}

html {
    font-family: PTSans, Arial, sans-serif;
    text-align: center;
    background: #FFF;
}

body {
    max-width: 800px;
    margin: 15px auto;
    background: #FFFFFF;
    text-align: left;
    padding: 20px;
    font-size: 16px;
    margin: 20px auto;
    clear:both;
}
h1, h2 {
    font-size: 20px;
    line-height: 22px;
}
h3, h4 {
	font-size:20px;
}

section {
    padding:10px;
    width:100%;
}
header {
    background-color: ${header_bg_light};
    border-radius: 5px;
    color: ${header_text};
    width:100%;
    height:100px;
    padding:10px;
}
header .level {
    background: ${header_bg_dark};
    float: left;
    font-size: 30px;
    height: 100px;
    line-height: 100px;
    margin-top: -20px;
    padding: 20px;
    text-align: center;
    vertical-align: middle;
    width: 100px;
    font-weight: bold;
    border-radius: 4px 4px 4px 4px;
}
header .title {
    float: left;
    margin-top:20px;
    text-indent:20px;    
    line-height:60px;
    font-size:30px;
    font-weight: bold;
}
header .logo {
	float: right;
}
header .logo img {
	height: 100px;
}


p code {
    border-radius: 4px 4px 4px 4px;
    background:#B9E5FA;
    padding:2px 5px;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    hyphens: none;
    white-space: pre-wrap; /* css-3 */
	white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
}
	
pre {
    font-size:16px;
    font-family: "Source Code Pro",Courier,monospace;
    font-weight: 400;
    line-height: 1.5;
    clear:both;
    background:#eee;
    padding: 20px;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    hyphens: none;
}

.legal {
    clear: both;
    margin: 15px auto;
    font-size:16px;
    border: 1px dotted ${header_bg_dark};
    border-radius: 5px;
 }
h1, h2,h3 {
    page-break-before: auto;
    page-break-after:avoid;
}
ul, ol, pre, p {
    page-break-inside:avoid;
}


section.breadcrumb {
   padding-top: 0px;
   padding-bottom: 0px;
}

section.breadcrumb ol {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
section.breadcrumb li {
    display: inline-block;
    padding-right: 8px;
}
section.breadcrumb li:after {
    content: " >";
}

section.breadcrumb li:last-child:after {
    content: "";
}

section.breadcrumb a {
    color: ${header_bg_dark};
}
section.breadcrumb a.current {
    text-decoration: none;
}

