/* scratch */
.scratch, .blocks {
    border: 5px solid rgb(230,134,45);
    padding: 5px;
    border-radius: 15px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    float: right;
    page-break-inside: avoid;        
}
.check .blocks {
    float:right;
}

.blockgrey, .blocklightgrey, .blockorange, .blockpurple, .blockpink, .blockblue, .blocklightblue, .blockyellow, .blockbrown, .blockgreen, .blocklightgreen {
	border-radius: 3px;
    font-weight: normal;
    padding:2px;
    color: #FFF;
}

.blockgrey { /*block palettes*/
    background-color: rgb(132,137,141);        
}

.blocklightgrey { /*buttons e.g. Import*/
    color: #000;
    background-color: rgb(238,238,238);
}

.blockblue { /*Motion*/
    background-color: rgb(74,108,212);        
}

.blockpurple { /*Looks*/
    background-color: rgb(143,86,227);        
}

.blockpink { /*Sound*/
    background-color: rgb(207,74,217);        
}

.blockgreen { /*Pen*/
    background-color: rgb(0,161,120);
}

.blockbrown { /*Events*/
    background-color: rgb(200,131,48);
}

.blockyellow { /*Control*/
    background-color: rgb(230,168,34);
}

.blocklightblue { /*Sensing*/
    background-color: rgb(4,148,220);
}

.blocklightgreen { /*Operators*/
    background-color: rgb(98,194,19);
}

.blockorange { /*Variables*/
    background-color: rgb(243,118,29);
}
li pre {
	float: right;
    vertical-align: top;
    margin: 20px;
}
.challenge ol, .challenge ul {
    padding: 0 20px 0 20px;
}
.try ul, .try ol {
    padding: 0;
}
/* experimental */
.activity li {
    float:left;
    font-size: 16px;        
    line-height:24px;
    width:100%;
    list-style-position:inside;
}
.check ul, .try ul, .challenge ul {
    list-style-type:none;
    line-height:24px;
}
.check li:before {
    margin-left:-50px;
}

