
.save {
	h2 {
		background:     $color-highlight;
		border-radius:  0.25em;
		color:          #fff;
		margin-bottom:  1.5em;
		overflow:       none;
		text-align:     center;
		text-transform: uppercase;
	}
}
