
.save {
	h2 {
		background:     $color-highlight;
		border-radius:  0.25em;
		color:          #fff;
		margin-bottom:  1.5em;
		overflow:       none;
		padding-left:   1.2em;
		text-align:     center;
		text-transform: uppercase;

		&:after {
			content: '!';
		}
	}
}
