
.beta {
	background:    rgba(#F9FBA7, 0.05);
	border:        1px dashed #F9FBA7;
	border-radius: 15px;
	margin-bottom: 1em;
	padding:       0.5em;

	p {
		font-size: 0.8em;
		margin:    0;
		max-width: none;
	}
}
