
.files-list {
	background:    #fff;
	border-radius: 0.4em;
	margin:        0.25em 0;
	padding:       0.5em 0;
	text-indent:   0;

	&:last-child {
		margin-bottom: 0;
	}
}

	.files-item {
		@extend %clearfix;
		border-top: 1px dotted rgba($color-primary, 0.25);
		color:      $color-primary;
		list-style: none;
		margin:     0;
		padding:    0 0.75em;

		&:first-child {
			border: none;
		}

		&:hover {
			background: rgba($color-primary, 0.05);
		}

		&.materials {
			text-align: center;

			&:hover {
				background: none;
			}

			.world &:hover {
				background: none;
			}
		}

		.world & {
			border-top-color: rgba($color-highlight, 0.25);
			color:            $color-highlight;

			&:hover {
				background: rgba($color-highlight, 0.05);
			}
		}


		@media screen and (min-width: 501px) {
			span {
				display: none;
			}
		}
	}

		.files-link {
			@media screen and (min-width: 501px) {
				&.pdf {
					float: right;
				}
			}

			&.materials {
				border:        2px solid rgba($color-primary, 0.5);
				border-radius: 0.5em;
				color:         $color-primary;
				display:       inline-block;
				float:         none;
				line-height:   2em;
				margin:        1em auto 0.5em;
				padding:       0 1em;

				&:hover {
					background:      rgba($color-primary, 0.5);
					color:           #fff;
					text-decoration: none;
				}

				.world & {
					border-color: rgba($color-highlight, 0.5);
					color:        $color-highlight;

					&:hover {
						background: rgba($color-highlight, 0.5);
						color:      #fff;
					}
				}
			}
		}
