<!DOCTYPE html>
<html class="$theme$" $if(lang)$ lang="$lang$"$endif$>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

$if(webmaster_tools_verification)$
    <meta name="google-site-verification" content="$webmaster_tools_verification$" />
$endif$

    <title>$if(title)$$if(beta)$(Beta) $endif$$title$ — $endif$$organization$</title>
    $if(favicon)$<link rel="shortcut icon" href="$root$$favicon$">$endif$

    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

    <link rel="stylesheet" href="$root$/css/master.min.css">
  </head>

  <body class="index-template $theme$">
    <header class="header" role="banner">
      $if(logo)$<a class="home-link" href="$root$/index.html"><img alt="" class="logo" height="100" src="$root$$logo$"></a>$endif$
      $if(title)$<h1 class="title">$if(beta)$<span class="pdf-hidden">(Beta) </span>$endif$$title$</h1>$endif$
      $if(level)$<span class="level-indicator">$level$</span>$endif$
    </header>

    $if(breadcrumbs)$<nav class="breadcrumbs">$breadcrumbs$</nav>$endif$

    <main class="main lesson-steps" role="main">
      $if(beta)$
        <section id="heads-up" class="level1 beta">
          <h1>Heads Up!</h1>
          <p>This project is in Beta. That means we're still testing it, and there's a small chance there could be some bugs or typos. If you're a club leader trying out this project, please complete <a href="https://docs.google.com/forms/d/15QLeJ_aDklioXl5cUyUK1KqZ7lUhCiewl3qiwXOg41M/viewform?usp=send_form" target="_blank">this short questionnaire</a> (or email <a href="mailto:projects@codeclub.org.uk">projects@codeclub.org.uk</a>) to let us know how it went!</p>
        </section>
      $endif$

$body$
    </main>

$if(legal)$
    <aside class="legal-notice copyright">
      <p>$legal$</p>
      <p>&copy; $year$ Code Club. This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">BY-NC-SA 4.0 International License</a>.</p>
    </aside>
$endif$

    <div id="legend">
        <div>
            <img src="$root$/img/check.png" alt="$leg_activity$" />
            <div class="caption"><span class="check_text">$leg_activity$</span></div>
            <div class="description">$leg_activity_desc$</div>
        </div>
        <div>
          <img src="$root$/img/flag.png" alt="$leg_test$" />
          <div class="caption"><span class="flag_text">$leg_test$</span></div>
          <div class="description">$leg_test_desc$</div>
        </div>
        <div>
          <img src="$root$/img/save.png" alt="$leg_save$" />
          <div class="caption"><span class="save_text">$leg_save$</span></div>
          <div class="description">$leg_save_desc$</div>
        </div>
    </div>

    <script type="text/javascript" src="$root$/js/lesson.js"></script>
$if(analytics_account)$
    <!-- Google Analytics -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '$analytics_account$']);
      _gaq.push(['_setDomainName', '$analytics_domain$']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
$endif$
  </body>
</html>
