<!DOCTYPE html>
<html$if(lang)$ lang="$lang$"$endif$>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <meta name="description" content="Code Club - $lesson_title$">
$for(author-meta)$
  <meta name="author" content="$author-meta$">
$endfor$
$if(date-meta)$
  <meta name="dcterms.date" content="$date-meta$">
$endif$
  <title>Code Club$if(lesson_title)$ - $lesson_title$$endif$</title>

  $if(stylesheet)$<link rel="stylesheet" href="/css/$stylesheet$.css">$endif$
  $if(region)$<link rel="stylesheet" href="/css/codeclub-$region$.css">$endif$

  <style type="text/css">code{white-space: pre;}</style>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
$if(quotes)$
  <style type="text/css">q { quotes: "“" "”" "‘" "’"; }</style>
$endif$
$if(highlighting-css)$
  <style type="text/css">
$highlighting-css$
  </style>
$endif$
$for(css)$
  <link rel="stylesheet" href="$css$">
$endfor$
$if(math)$
  $math$
$endif$
$for(header-includes)$
  $header-includes$
$endfor$
</head>
<body>
<div id="cclesson">
$for(include-before)$
$include-before$
$endfor$
$if(lesson_title)$
<header>
<h1 class="title">$lesson_title$</h1>
$if(subtitle)$
<h1 class="subtitle">$subtitle$</h1>
$endif$
$for(level)$
<h2 class="level">$level$</h2>
$endfor$
$for(author)$
<h2 class="author">$author$</h2>
$endfor$
$if(date)$
<h3 class="date">$date$</h3>
$endif$
</header>
$endif$
$if(legal)$
<section>
<div class="legal">
$legal$
</div>
</section>
$endif$
$if(toc)$
<nav id="$idprefix$TOC">
$toc$
</nav>
$endif$
$body$
$for(include-after)$
$include-after$
$endfor$
</body>
</div>
</html>
