<!DOCTYPE html>
<html$if(lang)$ lang="$lang$"$endif$>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <title>$if(title)$$title$ — $endif$$organization$</title>

  <style type="text/css">code{white-space: pre;}</style>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
$for(css)$
    <link rel="stylesheet" href="$css$">
$endfor$
  $if(stylesheet)$<link rel="stylesheet" href="$root$/css/$stylesheet$.css">$endif$
$if(highlighting-css)$
  <style type="text/css">
$highlighting-css$
  </style>
$endif$
$if(math)$
  $math$
$endif$
$for(header-includes)$
  $header-includes$
$endfor$
</head>
<body>
$for(include-before)$
$include-before$
$endfor$
$if(title)$
<header>
$if(logo)$
<div class="logo"><a href="$root$/index.html"><img src="$root$$logo$"/></a></div>
$endif$
<div class="title">$title$</div>
$for(level)$
<div><span class="level">$level$</span></div>
$endfor$
</header>
$endif$
$if(legal)$
<section class="legal">
<div>
$legal$
</div>
</section>
$endif$
$if(breadcrumb)$
<section class="breadcrumb">
$breadcrumb$
</section>
$endif$
$body$
$if(legal)$
<section class="legal">
<div>
$legal$

<br/><br/>This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.
</div>
</section>
$endif$
$for(include-after)$
$include-after$
$endfor$
</body>
</div>
</html>
